#map {
  width: 50%;
  height: 600px;
  margin: 50px;
}

#filter {
  background-color: aqua;
  margin: 50px;
  height: 70%;
}

#filter-container{
    width:50%;
    display: flex;
    flex-direction: column;
}

#filler-space{
    background-color: blue;
    height: 30%;
    margin: 50px;
}

#year-distribution {
  width: 50%;
  background-color: yellow;
  height: 500px;
  margin: 50px;
}

#hour-distribution {
  width: 50%;
  background-color: green;
  height: 500px;
  margin: 50px;
}

/* .crashPoints {
  position: absolute;
}

.crashPoints svg {
  width: 50%;
  height: 600px;
  margin: 50px;
} */

.text-check-group{
  width:50%
}
